$black: #000;
$gray-19: #191a20;
$gray-3f: #3f4150;
$gray-8c: #8c8d96;
$gray-b2: #b2b3b9;
$gray-e0: #e0e2e7;
$gray-f7: #f7f8fa;
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
