// Utility 클래스
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.sm-only {
  @media screen and (min-width: $md-breakpoint) {
    display: none !important;
  }
}

.md-only {
  @media screen and (max-width: ($md-breakpoint - 1)) {
    display: none !important;
  }

  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

.lg-only {
  @media screen and (max-width: ($lg-breakpoint - 1)) {
    display: none !important;
  }
}

.sm-hidden {
  @media screen and (max-width: ($md-breakpoint - 1)) {
    display: none !important;
  }
}

.sm-hidden {
  @media screen and (min-width: $md-breakpoint) and (max-width: ($lg-breakpoint - 1)) {
    display: none !important;
  }
}

.sm-hidden {
  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}


